<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mongoose Dashboard</title>
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/skeleton.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    </head>
    <body>
        <a href="/create"><button class="addBtn" type="button" name="button">Create a Crow</button></a>
        <div class="container mainWrapper">
            <% for (i in crows) { %>
                <a href="/read/<%= crows[i]._id %>"><img class="crow" src="images/crow.png" alt="crow image"></a>
            <% } %>
        </div>
    </body>
</html>
