.links {
    a {
        text-decoration: none;
        font-size: 30px;
        margin-right: 30px;
    }
}

.wrapper1 {
    border: 2px groove black;
    margin-top: 25px;
    box-shadow: inset 0 0 20px beige;
    padding: 20px;
    table {
        width: 100%;
    }
    h2 {
        text-align: center;
        width: 350px;
        background-color: white;
        margin-top: -45px;
    }
}

.wrapper2 {
    border: 2px groove black;
    padding: 20px;
    table {
        width: 100%;
        td {
            text-align: center;
            border: 1px solid black;
        }
        th {
            text-align: center;
            border-bottom: 1px solid darkgray;
        }
    }
}
