<!DOCTYPE html>
<html>
    <head>
        <title>Mongoose Dashboard</title>
        <meta charset="utf-8">
        <% include links %>
    </head>
    <body>
        <a href="/create"><button class="addBtn" type="button" name="button">Create a Crow</button></a>
        <div class="container mainWrapper">
            <% for (i in crows) { %>
                <a href="/read/<%= crows[i]._id %>"><img class="crow" src="images/crow.png" alt="crow image"></a>
            <% } %>
        </div>
    </body>
</html>
