h1 {
    color: teal;
}
.row {
    /*border:1px dotted blue;*/
}
.container {
    border:1px dotted black;
    margin-top: 5%;
    height: 700px;
    box-shadow: 5px 5px 25px black;
}
img {
    height: 100%;
    width: 100%;
}
