<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Results Page</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/style1.css">
    </head>
    <body>
        <div class="wrapper2">
            <h1>submitted information</h1>
            <p>Name: <%= user.name %></p>
            <p>Dojo Location: <%= user.location %></p>
            <p>Favorite Language: <%= user.lang %></p>
            <p>Comments: <%= user.comments %></p>
        </div>
    </body>
</html>
