<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rainbowRoad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22D0737F1E78B240004783EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D073931E78B240004783EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D0739E1E78B240004783EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
