<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Secret Wall</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'logReg/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'logReg/css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'logReg/css/profile-style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% if 'current_user_id' in request.session %}
        <h3 class="u-pull-right">online</h3>
        <div class="logged-in u-pull-right"></div>
        {% endif %}
        <a href="/profile"><button type="button" name="button" class="button-primary">Profile</button></a>
        <h1>Secrets:</h1>
        <div class="container secret-box">
            {% if secrets %}
                <ul class="secrets usrs">
                    {% for secret in secrets %}
                        <li>{{ secret.content }} {{ secret.created_at }} <span class="numlikes">{{ secret.numlikes }}</span></li>
                        <form class="secret-options" action="/manage_secrets/{{secret.id}}" method="POST">
                            {% csrf_token %}

                            {% if request.session.current_user_id == secret.user.id %}
                            <input type="submit" name="submit" value="delete" class="button-danger">
                            {% endif %}


                            {% if user in secret.likes.all %}
                            <p class="liked">You liked this</p>
                            {% elif secret.user.id != request.session.current_user_id%}
                            <input type="submit" name="submit" value="like" class="button-primary">
                            {% endif %}


                        </form>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </body>
</html>
