// .container {
//     border: 1px dotted red;
// }

.wrapper1 {
    .table1 {
        width: 100%;
        td {
            width: 50%;
            button {
                color: red;
                background-color: white;
                &:hover {
                    color: white;
                    background-color: red;
                }
            }
        }
    }
}

.wrapper2 {
    table {
        width: 100%;
        td {
            width: 33%;
        }
    }
}
