.wrapper {
    padding: 20px;
    border: {
        top: 3px ridge black;
        left: 3px groove black;
        right: 3px groove black;
    }
    table {
        margin: auto;
        width: 100%;
    }
}
