<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login/Register</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'loginReg/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'loginReg/css/style.css' %}">
    </head>
    <body>

        <h1>Registration</h1>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form class="register" action="/register" method="POST">
            {% csrf_token %}
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name">

            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name">

            <label for="email">Email</label>
            <input type="text" name="email" id="email">

            <label for="password">Password</label>
            <input type="password" name="password" id="password">

            <label for="password_confirm">Confirm Password</label>
            <input type="password" name="password_confirm" id="pasword_confirm">

            <input type="submit" name="submit" value="Register" class="button">
        </form>

        <h1>Login</h1>
        <form class="login" action="/login" method="POST">
            {% csrf_token %}
            <label for="lemail">Email</label>
            <input type="text" name="lemail" id="lemail">

            <label for="lpassword">Password</label>
            <input type="password" name="lpassword" id="lpassword">

            <input type="submit" name="submit" value="Login" class="button">

        </form>
            <ul>
                {% for user in users %}
                    <li>{{ user.first_name }} {{ user.last_name }} email: {{ user.email }}</li>
                {% endfor %}
            </ul>
            <a href="/register"><button type="button" name="button">Clear DB</button></a>
            <a href="/courses/"><button type="button" name="button">View/Edit Course List</button></a>
    </body>
</html>
