<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bucketList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>222079691E82CA9700FBB9E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>222079801E82CA9800FBB9E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2220798B1E82CA9800FBB9E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
